body
  {
    background-color: #1e2d63;
    color: lightcyan;
  }

p.msg
  {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: pink;
    font-size: 14pt;
  }

p.msg1
  {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16pt;
  }

#headarea
{
  width: 99%;
  background-color: #d3d7d9;
  height: 24pt;
  color: black;
  //border: dotted;
}

#headarea2
{
  width: 99%;
  background-color: #d3d7d9;
  height: 110px;
  color: black;
  //border: dotted;
}

#MenuArea
{
    float: center;
    width: 75%;
    color: white;
    font-size: 24pt;
}

#freqarea
{
  width: 99%;
  height: 10pt;
  background-color: #d3d7d9;
  color: #2e4d63;
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#instarea
{
  width: 99%;
  background-color: #d3d7d9;
  color: #2e4d63;
  font-size: 14pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#test
{
  background-color: black;
  color: #bbff00;
  font-size: 12pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#footer
  {
    background-color: #000033;
    //color: #a3a7a9;
    color: #3e5d73;
    //color: #37566b;
    font-size:  8pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
 }

table
  {
     background-color: #b2b2b7;
     color: #442211;
     font-family: Verdana, Arial, Helvetica, sans-serif;
  }

td
  {
     color: black;
     background-color:  #d3d7d9;
     text-align: left;
     font-size: 12pt;
  }

td.got
  {
     color: white;
     background-color:  #004400;
     text-align: left;
     font-size: 10pt;
  }

td.no
  {
     color: gray;
     background-color:  #d3d7d9;
     text-align: left;
     font-size: 10pt;
  }

table.but
  {
    background-color:  #2e4d63;
    //border: 0;
  }

td.but
  {
    background-color:  #2e4d63;
    //border: 0;
  }

td.tblR
  {
     color: black;
     background-color:  #a3a7a9;
     text-align: left;
     font-size: 16pt;
     font-weight: bold;
  }
td.io
  {
     color: black;
     background-color:  #a3a7a9;
     text-align: center;
     font-size: 12pt;
  }
td.r
  {
     color: black;
     background-color:  #a3a7a9;
     text-align: left;
     font-size: 12pt;
  }
td.l
  {
     color: black;
     background-color:  #a3a7a9;
     text-align: right;
     font-size: 12pt;
  }
td.out
  {
     color: white;
     background-color:  firebrick;
     text-align: center;
     font-size: 12pt;
  }
td.in
  {
     color: white;
     background-color: forestgreen;
     text-align: center;
     font-size: 12pt;
  }

td.office
  {
    color: white;
    background-color: royalblue;
    text-align: center;
    font-weight: bold;
  }

th
  {
    background-color:  #000044;
    color: white;
  }


h1
  {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
h2
  {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

h3
  {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

a
  {
     font-family: Verdana, Arial, Helvetica, sans-serif;
  }

a.menu
  {
     font-size: 18pt;
     font-weight: bold;
     margin: 10px;
     color: #84b5ed;
  }

a.menu:hover
  {
     font-size: 18pt;
     font-weight: bold;
     margin: 10px;
     //background-color: #84b5ed;
     background-color: lightsteelblue;
     color: #2e4d63;
  }

td.fr
  {
    text-align: right;
    font-size: 8pt;
  }

td.fl
  {
    font-size: 8pt;
  }

a:hover
  {
    background-color: firebrick;
    color: pink;
  }
